<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Система управления мероприятиями{% endblock %}
            </title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'events/css/styles.css' %}">
            <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.c
            ss">
        </head>
        <body>
            <nav>
                <a href="{% url 'events:home' %}">Главная</a> |
                <a href="{% url 'events:services' %}">Услуги</a> |
                <a href="{% url 'events:team' %}">Команда</a> |
                <a href="{% url 'events:gallery' %}">Галерея</a> |
                <a href="{% url 'events:contact_us' %}">Свяжитесь с нами</a> |
                <a href="{% url 'events:about' %}">О нас</a> |
                <a href="{% url 'events:event_list' %}">Мероприятия</a>
            </nav>
            <div class="content">
            {% block content %}
            <!-- Основной контент будет вставлен здесь -->
            {% endblock %}
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.m
            in.js"></script>
        </body>
    </html>