{% extends 'events/base.html' %}
{% block title %}Список мероприятий{% endblock %}
{% block content %}
    <h1>Список мероприятий</h1>
    <ul>
        {% for event in events %}
            <li>
                {% if event.main_image %}
                    <img src="{{ event.main_image.url }}" alt="{{ event.title
                    }}">
                {% endif %}
                <a href="{% url 'event_detail' event.id %}">{{ event.title }}
                </a> -
                {{ event.date|date:"d.m.Y H:i" }} -
                {{ event.location }} -
                Категория: {{ event.category.name }}
            </li>
            {% empty %}
                <li>Нет доступных мероприятий.</li>
        {% endfor %}
</ul>
{% endblock %}